[submodule "cheat/cheatsheets/community"]
	path = cheat/cheatsheets/community
	url = https://github.com/cheat/cheatsheets.git

[submodule "nvim"]
	path = nvim
	url = git@github.com:botanicuspopulus/NvimConfig.git

[submodule "zsh"]
	path = zsh
	url = git@github.com:botanicuspopulus/zsh_dotfiles.git

[submodule "ranger/plugins/ranger-archives"]
	path = ranger/plugins/ranger-archives
	url = https://github.com/maximtrp/ranger-archives.git

[submodule "ranger/plugins/ranger_devicons"]
	path = ranger/plugins/ranger_devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons.git

[submodule "ranger/plugins/ranger_udisk_menu"]
	path = ranger/plugins/ranger_udisk_menu
	url = https://github.com/SL-RU/ranger_udisk_menu.git
