[submodule "cheat/cheatsheets/community"]
	path = config/cheat/dot-config/cheat/cheatsheets/community
	url = https://github.com/cheat/cheatsheets.git

[submodule "nvim"]
	path = config/nvim
	url = git@github.com:botanicuspopulus/NvimConfig.git

[submodule "zsh"]
	path = config/zsh
	url = git@github.com:botanicuspopulus/zsh_dotfiles.git

[submodule "ranger/plugins/ranger-archives"]
	path = config/ranger/dot-config/ranger/plugins/ranger-archives
	url = https://github.com/maximtrp/ranger-archives.git

[submodule "ranger/plugins/ranger_udisk_menu"]
	path = config/ranger/dot-config/ranger/plugins/ranger_udisk_menu
	url = https://github.com/SL-RU/ranger_udisk_menu.git
[submodule "ranger/plugins/devicons2"]
	path = config/ranger/dot-config/ranger/plugins/devicons2
	url = https://github.com/cdump/ranger-devicons2
[submodule "ranger/plugins/ranger_fzf_filter"]
	path = config/ranger/dot-config/ranger/plugins/ranger_fzf_filter
	url = git@github.com:MuXiu1997/ranger-fzf-filter.git
[submodule "config/tmux/dot-config/tmux/plugins/catppuccin/tmux"]
	path = config/tmux/dot-config/tmux/plugins/catppuccin/tmux
	url = https://github.com/catppuccin/tmux.git
