
[Desktop Entry]
Comment[en_ZA]=Questa Sim 2024
Comment=Questa Sim 2024
Exec=env LM_LICENSE_FILE=1800@202-lserver1 /home/williamsmith/HDS_2023.3/bin/hdl_designer -authorpro
GenericName[en_ZA]=
GenericName=
Icon=/home/williamsmith/intelFPGA_pro/22.2/quartus/adm/quartusii.png
MimeType=
Name[en_ZA]=HDL Designer 2023.3
Name=HDL Designer 2023.3
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
