# Logo key
set $mod Mod4 
# Alt key
set $super Mod1

# Vim based directional keys
set $left h
set $down j
set $up k
set $right l

set $alt_left a
set $alt_down s
set $alt_up d
set $alt_right f

# Screen Capture
set $ps1 Print
set $ps2 Control+Print
set $ps3 Alt+Print
set $ps4 Alt+Control+Print

set $screen_cap grim
set $screen_cap_w_region $screen_cap -g "$(slurp)"

# Application shorthands
set $browser firefox
set $launcher ~/.config/rofi/launcher/launcher.sh
set $power_menu ~/.config/rofi/powermenu/powermenu.sh
set $wifi_menu ~/.config/rofi/wifi/rofi-wifi-menu.sh
set $calculator ~/.config/rofi/calculator/calculator.sh 
set $term alacritty
set $term-working-dir $term --working-directory=$(swaymsg -r -t get_tree | jq '.. | (.nodes? // empty)[] | select(.focused == true).pid? // empty' | xargs pstree -p | grep "\<tmux\>\|\<fish\>\|\<bash\>\|\<zsh\>\|\<sh\>" | grep -o '[1-9]*' | xargs pwdx 2> /dev/null | cut -f2- -d' ' | sort | tail -n 1 | tr -d '\n')
set $filemanager alacritty -e ranger
set $lock ~/dotfiles/bin/screen_lock
