# Logo key
set $mod Mod4 
# Alt key
set $super Mod1

# Vim based directional keys
set $left h
set $down j
set $up k
set $right l

# Screen Capture
set $ps1 Print
set $ps2 Control+Print
set $ps3 Alt+Print
set $ps4 Alt+Control+Print

set $screen_cap grim
set $screen_cap_w_region $screen_cap -g "$(slurp)"

# Application shorthands
set $browser firefox
set $launcher ~/.config/rofi/launcher/launcher.sh
set $power_menu ~/.config/rofi/powermenu/powermenu.sh
set $wifi_menu ~/.config/rofi/wifi/rofi-wifi-menu.sh
set $calculator ~/.config/rofi/calculator/calculator.sh 
set $term alacritty
set $lock ~/dotfiles/bin/screen_lock
