output '*' bg ~/.config/sway/wallpapers/xVWaGv3.jpeg fill

set $laptop eDP-1

# output DVI-I-2 pos 0 0 res 1920x1080 enable power on
# output DVI-I-1 pos 1920 0 res 1920x1080 enable power on
output $laptop pos 0 0 res 1920x1080

bindswitch --reload --locked lid:on output $laptop disable
bindswitch --reload --locked lid:off output $laptop enable
