exec {
    wl-paste -t text --watch clipman store --no-persist    
    xsettingsd
    mako
    ybacklight -set 60
    wmname LG3D
    swayidle -w \
        timeout 600 $lock \
        timeout 570 'swaymsg "output * dpms off"' \
        resume 'swaymsg "output * dpms on"' \
        before-sleep $lock
}

