exec {
    wl-paste -t text --watch clipman store --no-persist
    mako
    pipewire
    ybacklight -set 60
    swayidle -w \
        timeout 600 $lock \
        timeout 570 'swaymsg "output * dpms off"' \
        resume 'swaymsg "output * dpms on"' \
        before-sleep $lock
}

exec always {
    xsettingsd
    nwg-look -a
    wmname LG3D
}
