# Kill focused window
bindsym $mod+q kill

# Drag floating windows by holding down $mod and left mouse button
# Resize them with right mouse button + $mod
# Also works for non-floating windows
# Change normal to inverse to use left mouse button for resizing and right mouse button for draggin
floating_modifier $mod normal

# Dismiss notifications
bindsym Control+Shift+space exec makoctl dismiss -a

# Reload config file
bindsym $mod+Alt+r reload

# Exit sway
bindsym $mod+Alt+Delete exec swaynag -t warning \
                                  -m "You pressed the exit shortcut. Do you really want to exit sway? This will end your wayland session." \
                                  -b 'Suspend'        'systemctl suspend' \
                                  -b 'Lock'           'screen_lock' \
                                  -b 'Shutdown'       'systemctl -i poweroff' \
                                  -b 'Reboot'         'systemctl -i reboot' \
                                  -b 'Yes, exit sway' 'swaymsg exit' \

bindsym $mod+Alt+l exec $lock

# Movement
# Focus Movement
bindsym {
	$mod+$left  focus left
	$mod+$down  focus down
	$mod+$up    focus up
	$mod+$right focus right
}

# Using arrow keys
bindsym {
	$mod+Left   focus left
	$mod+Down   focus down
	$mod+Up     focus up
	$mod+Right  focus right
}

# Moving the focused window
bindsym {
	$mod+Shift+$left  move left
	$mod+Shift+$down  move down
	$mod+Shift+$up    move up
	$mod+Shift+$right move right
}

# Using arrow keys
bindsym {
	$mod+Shift+Left   move left
	$mod+Shift+Down   move down
	$mod+Shift+Up     move up
	$mod+Shift+Right  move right
}

# Switch to last recently used Workspace
bindsym $mod+Tab workspace back_and_forth

# Workspace
# Switching
bindsym {
	$mod+1 workspace $ws1
	$mod+2 workspace $ws2
	$mod+3 workspace $ws3
	$mod+4 workspace $ws4
	$mod+5 workspace $ws5
	$mod+6 workspace $ws6
	$mod+7 workspace $ws7
	$mod+8 workspace $ws8
	$mod+9 workspace $ws9
	$mod+0 workspace $ws10
}

# Move focused workspace
set $focus_ws [ "$focus_after_move" == 'true' ] && swaymsg workspace
bindsym {
	$mod+Shift+1 move container to workspace $ws1; exec $focus_ws $ws1
	$mod+Shift+2 move container to workspace $ws2; exec $focus_ws $ws2
	$mod+Shift+3 move container to workspace $ws3; exec $focus_ws $ws3
	$mod+Shift+4 move container to workspace $ws4; exec $focus_ws $ws4
	$mod+Shift+5 move container to workspace $ws5; exec $focus_ws $ws5
	$mod+Shift+6 move container to workspace $ws6; exec $focus_ws $ws6
	$mod+Shift+7 move container to workspace $ws7; exec $focus_ws $ws7
	$mod+Shift+8 move container to workspace $ws8; exec $focus_ws $ws8
	$mod+Shift+9 move container to workspace $ws9; exec $focus_ws $ws9
	$mod+Shift+0 move container to workspace $ws10; exec $focus_ws $ws10
}

bindsym {
	$mod+Alt+$alt_left move workspace to output left
	$mod+Alt+$alt_down move workspace to output down
	$mod+Alt+$alt_up move workspace to output up
	$mod+Alt+$alt_right move worksapce to output right
}

# Layout binds
# Splitting
bindsym {
	$mod+backslash  splith
	$mod+minus      splitv
}

# Switch current container between different layout styles
bindsym {
	$mod+c layout stacking
	$mod+t layout tabbed
	$mod+s layout toggle split
}

bindsym {
    $mod+Shift+c layout split stacked
    $mod+Shift+t layout split tabbed
}

# Make the current focus fullscreen
bindsym $mod+f fullscreen toggle

# Toggle current focus between tiling and the floating area
bindsym $mod+Shift+space floating toggle

# Swap focus between the tiling area and the floating area
bindsym $mod+space focus mode_toggle

# Move focus to the parent container
bindsym $mod+a focus parent

# Scratchpad
# Bag for holding windows. Can send windows there and get them back later
# Move currently focused window to the scratchpad
bindsym $mod+Shift+z move scratchpad

# Show the next scratchpad window or hide the focused scratchpad window
# If there are multiple scratchpad windows, this command cycles through them
bindsym $mod+z scratchpad show, \
                          resize set $scratchpad-width $scratchpad-height, \
                          move position center

#Audio controls
bindsym {
	$mod+Ctrl+p           exec pavucontrol
	XF86AudioRaiseVolume  exec --no-startup-id pactl set-sink-volume 0 +2% #increase sound volume
	XF86AudioLowerVolume  exec --no-startup-id pactl set-sink-volume 0 -2% #decrease sound volume
	XF86AudioMute         exec --no-startup-id pactl set-sink-mute 0 toggle notify-send "Muted" # mute sound
	XF86AudioPlay         exec playerctl play-pause
	XF86AudioPause        exec playerctl play-pause
	XF86AudioNext         exec playerctl next
	XF86AudioPrev         exec playerctl previous
}

# Brightness controls
bindsym {
	XF86MonBrightnessDown exec ybacklight -dec 2
	XF86MonBrightnessUp exec ybacklight -inc 2
}

# Screen capture
bindsym {
	$ps1 exec $screen_cap - | wl-copy
	$ps2 exec $screen_cap_w_region - | wl-copy
	$ps3 exec $screen_cap $(xdg-user-dir PICTURES)/ps_$(date +"%Y%m%d%H%M%S").png
	$ps4 exec $screen_cap_w_region $(xdg-user-dir PICTURES)/ps_$(date + "%Y%m%d%H%M%S").png
}

# Sticky window
bindsym $mod+Shift+s sticky toggle

# Resizing

bindsym $mod+r mode "resize"
