mode "gaps" {
  bindsym h gaps outer current minus 5
  bindsym l gaps outer current plus 5
  bindsym j gaps inner current minus 5
  bindsym k gaps inner current plus 5

  bindsym Shift+h gaps outer all minus 5
  bindsym Shift+l gaps outer all plus 5
  bindsym Shift+j gaps inner all minus 5
  bindsym Shift+k gaps inner all plus 5

  bindsym 0 gaps outer current set 0; gaps inner current set 0
  bindsym Shift+0 gaps outer all set 0l gaps inner all set 0

  bindsym n gaps outer current set 0
  bindsym m gaps inner current set 0
  bindsym Shift+n gaps outer all set 0
  bindsym Shift+m gaps inner all set 0

  bindsym Return mode "default"
  bindsym Escape mode "default"
  bindsym $mod+i mode "default"
}

bindsym $mod+g mode "gaps"
