bindsym $mod+Ctrl+$right mark swap; focus right; swap container with mark swap; unmark swap

mode "swap" {
# Swap workspace

	bindsym $mod+1 workspace $ws1
	bindsym $mod+2 workspace $ws2
	bindsym $mod+3 workspace $ws3
	bindsym $mod+4 workspace $ws4
	bindsym $mod+5 workspace $ws5
	bindsym $mod+6 workspace $ws6
	bindsym $mod+7 workspace $ws7
	bindsym $mod+8 workspace $ws8
	bindsym $mod+9 workspace $ws9
	bindsym $mod+0 workspace $ws10

# change focus
	bindsym $mod+Left  focus left
	bindsym $mod+Down  focus down
	bindsym $mod+Up    focus up
	bindsym $mod+Right focus right

	bindsym $mod+$left  focus left
	bindsym $mod+$down  focus down
	bindsym $mod+$up    focus up
	bindsym $mod+$right focus right

# change focus (without mod)
	bindsym Left  focus left
	bindsym Down  focus down
	bindsym Up    focus up
	bindsym Right focus right

	bindsym $left  focus left
	bindsym $down  focus down
	bindsym $up    focus up
	bindsym $right focus right

	bindsym Return swap container with mark "swapee"; unmark "swapee"; mode "default";
	bindsym Escape unmark "swapee"; mode "default";
}

bindsym $mod+w mark --add "swapee"; mode "swap"
