
# HDL Designer
for_window [title="Log Window" instance="tk" class="Tk"]  {
  floating enabled
}

for_window [title="Licensing" class="CvbApp" instance="cvReportErrorDialog_popup"] {
  floating enabled
  move position center
}

for_window [title="BD Object Properties" instance="hdldesigner" class="TopLevelShell"] {
  floating enable
  move position center
}

for_window [title="HDL Author" instance="MsgWithCheckDlg_popup" class=TopLevelShell] {
  floating enable
  move position center
}

for_window [instance="hdldesigner" title=".* (Options|Settings)"] {
  floating enabled
  move position center
}

for_window [title=" " class="CvbApp" instance="cvPopupWindow_popup"] {
  floating enabled
  move position 20 20
}

for_window [title=".*Expression Builder" instance="hdldesigner" class="TopLevelShell"] {
  floating enable
  move position center
}

for_window [title="SM Object Properties - (Transitions)" instance="hdldesigner" class="TopLevelShell"] {
  floating enable
  move_position center
}

for_window [instance="CmdMappingSetupDlg_popup" class="TopLevelShell"] {
  floating enabled
  move position center
}

for_window [class="IlogViews"] {
  floating enabled
  move position center
}
