
# HDL Designer
for_window [title="Log Window" instance="tk" class="Tk"]  {
  floating enabled
}


for_window [title="BD Object Properties" instance="hdldesigner" class="TopLevelShell"] {
  floating enable
  move position center
}

for_window [instance=".*D(ia)?lo?g_popup" class="(CvbApp|TopLevelShell)"] {
  floating enable
  move position center
}

for_window [title="Main Settings" instance="hdldesigner" class="TopLevelShell"] {
    resize set width 723 height 623 
}

for_window [instance="hdldesigner" title=".* (Options|Settings)"] {
  floating enable
  move position center
}

for_window [ class="CvbApp" instance="cvPopupWindow_popup"] {
    floating enable
    max_render_time 100
    move position mouse
    move down 50px
    move right 50px
}
no_focus [ class="CvbApp" instance="cvPopupWindow_popup"]


for_window [title=".*Expression Builder" instance="hdldesigner" class="TopLevelShell"] {
  floating enable
  move position center
}

for_window [title="SM Object Properties - (Transitions)" instance="hdldesigner" class="TopLevelShell"] {
  floating enable
  move_position center
}

for_window [class="IlogViews"] {
  floating enabled
  move position center
}
