for_window [class="firefox" window_role="^(?!browser$)"] floating enable
for_window [class="firefox" title="^About Mozilla Firefox$"] floating enable
for_window [class="firefox" title="Bitwardne .* Mozilla Firefox"] floating enable
for_window [title="Picture-in-Picture"] floating enable
for_window [class="firefox" title=" - Sharing Indicator$"] {
	floating enable
	inhibit_idle open
}
