for_window [app_id="firefox" window_role="^(?!browser$)"] floating enable
for_window [app_id="firefox" title="^About Mozilla Firefox$"] floating enable
for_window [app_id="firefox" title="Bitwardne .* Mozilla Firefox"] floating enable

for_window [app_id="firefox" title=" - Sharing Indicator$"] {
	floating enable
	inhibit_idle open
}

for_window [app_id="firefox" title="Bitwarden .* Mozilla Firefox"] {
    floating enable
}

for_window [app_id="firefox" title="^$"] {
    floating enable
    move position 80ppt 20px
    resize set width 20ppt height 10ppt
}
no_focus [app_id="firefox" title="^$"]
