
# Start launcher
bindsym $mod+d exec --no-startup-id $launcher

# Firefox
bindsym $mod+b exec $browser

# Power Menu
bindsym $mod+p exec --no-startup-id $power_menu

# Calculator
bindsym $mod+equal exec --no-startup-id $calculator

# Launch wifi choice
bindsym $mod+n  exec --no-startup-id $wifi_menu
bindsym $mod+Shift+n exec --no-startup-id nmtui-connect

# Pulsemixer
bindsym $mod+Shift+p exec "$term --class=wm-floating-big,wm-floating-big pulsemixer"

# Start terminal
bindsym $mod+Shift+Return --class=floating exec systemd-run --user $term
bindsym $mod+Return exec systemd-run --user $term

