set $menu j4-dmenu-desktop --dmenu='bemenu -iwbn -p "Run:" --fn "Lekton Nerd Font Mono 14" --tb="#222222" --tf="#cb4b16" --hb="#222222" --hf="#cb4b16" --nb="#111111" ' --term='alacritty'

# Start launcher
bindsym $mod+d exec bemenu-run -ibwn "Run:" --fn "Lekton Nerd Font Mono 14" --tb="#222222" --tf="#cb4b16" --hb="#222222" --hf="#cb4b16" --nb="#111111" ' --term='alacritty'
bindsym --to-code $mod+b exec $term -e 'bmenu'

# Launch wifi choice
bindsym --to-code $mod+n  exec $term -e nmtui-connect

# Launch categorized menu
bindsym --to-code $mod+a exec --no-startup-id $menu
bindsym --to-code $mod+x exec wofi
