
# Start launcher
bindsym $mod+d exec --no-startup-id ~/.config/rofi/launchers/type-6/launcher.sh
bindsym --to-code $mod+b exec firefox

# Power Menu
bindsym $mod+p exec --no-startup-id ~/.config/rofi/powermenu/type-5/powermenu.sh

# Launch wifi choice
bindsym --to-code $mod+n  exec $term -e nmtui-connect
