
# Firefox 
assign [app_id="firefox"] 6

# Microsoft Teams - Preview
assign [class="^Microsoft Teams"] 8
no_focus [title="Microsoft Teams .* Notification"]

# Window role settings
for_window [window_type="popup_menu"] floating enable
for_window [window_role="pop-up"] floating enable
for_window [window_role="bubble"] floating enable
for_window [window_role="task_dialog"] floating enable
for_window [window_role="Preferences"] floating enable
for_window [window_role="dialog"] floating enable
for_window [window_role="menu"] floating enable
for_window [window_role="About"] floating enable
for_window [title="nmtui"] floating enable, resize set width 50 ppt height 70 ppt
for_window [title="btm"] floating enable, resize set width 50 ppt height 70 ppt
for_window [title="Save File"] floating enable
for_window [title="Copying"] floating enable

# Apps that don't need to be tiled
# Volume control
for_window [app_id="pavucontrol"] {
    floating enable
    move position center
    resize set width 50 ppt height 70 ppt
}

for_window [app_id="wdisplays"] {
    floating enable
}

# Firefox
for_window [app_id="Firefox" window_role="^(?!browser$)"] {
    floating enable
}

for_window [app_id="firefox" title="^About Mozilla Firefox$"] {
    floating enable
}

for_window [app_id="firefox" title="^Developer Tools"] {
    floating enable
}

for_window [app_id="firefox" title="^$"] {
    floating enable
    move position 80ppt 20px
    resize set width 20ppt height 10ppt
}
no_focus [app_id="firefox" title="^$"]

# Make Firefox PiP floating
for_window [title="[Pp]icture.in.[Pp]icture"] floating enabled

for_window [app_id="firefox" title=" - Sharing Indicator$"] {
    floating enable
        inhibit_idle open
}

for_window [app_id="firefox" title="Bitwarden .* Mozilla Firefox"] {
    floating enable
}

# Teams
for_window [title="Microsoft Teams .* Notification"] {
    floating enable
        move position 20 20
}

# Bluetooth
for_window [app_id="blueberry.py"] {
    floating enable
        move position center
}

# pinextry
for_window [app_id="pinentry-qt"] {
    floating enable
    move position center
}

# HDL Designer
for_window [title="Log Window" instance="tk" class="Tk"]  {
    floating enabled
}

for_window [title="Licensing" class="CvbApp" instance="cvReportErrorDialog_popup"] {
    floating enabled
    move position center
}

for_window [title="BD Object Properties" instance="hdldesigner" class="TopLevelShell"] {
    floating enable
    move position center
}

for_window [title="HDL Author" instance="MsgWithCheckDlg_popup" class=TopLevelShell] {
    floating enable
    move position center
}

for_window [instance="hdldesigner" title=".* (Options|Settings)"] {
    floating enabled
    move position center
}

for_window [ class="CvbApp" instance="cvPopupWindow_popup"] {
    floating enabled
    max_render_time 100
    move position mouse
    move down 50px
    move right 50px
}
no_focus [ class="CvbApp" instance="cvPopupWindow_popup"]

for_window [title=".*Expression Builder" instance="hdldesigner" class="TopLevelShell"] {
    floating enable
    move position center
}

for_window [title="SM Object Properties - (Transitions)" instance="hdldesigner" class="TopLevelShell"] {
    floating enable
    move_position center
}

for_window [instance="CmdMappingSetupDlg_popup" class="TopLevelShell"] {
    floating enabled
    move position center
}

for_window [class="IlogViews"] {
    floating enabled
        move position center
}
