
# Start launcher
bindsym $mod+d exec $launcher

# Firefox
bindsym $mod+b exec $browser

# Pulsemixer
bindsym $mod+Alt+p exec "$term --class=wm-floating-big,wm-floating-big pulsemixer"

# Power Menu
bindsym $mod+Ctrl+Alt+p exec $power_menu

# Calculator
bindsym $mod+equal exec $calculator

# Launch wifi choice
bindsym $mod+Alt+n exec $wifi_menu
bindsym $mod+Ctrl+Alt+n exec nmtui-connect


# Start terminal
bindsym $mod+Shift+Return exec systemd-run --user foot
bindsym $mod+Return exec systemd-run --user $term
