
# Start launcher
bindsym $mod+d exec --no-startup-id $launcher

# Firefox
bindsym $mod+b exec $browser

# Pulsemixer
bindsym $mod+Alt+p exec "$term --class=wm-floating-big,wm-floating-big pulsemixer"

# Power Menu
bindsym $mod+Ctrl+Alt+p exec --no-startup-id $power_menu

# Calculator
bindsym $mod+equal exec --no-startup-id $calculator

# Launch wifi choice
bindsym $mod+Alt+n exec --no-startup-id $wifi_menu
bindsym $mod+Ctrl+Alt+n exec --no-startup-id nmtui-connect


# Start terminal
bindsym $mod+Shift+Return --class=floating exec systemd-run --user $term
bindsym $mod+Return exec systemd-run --user $term
