for_window [class="Firefox" window_role="^(?!browser$)"] {
  floating enable
}

for_window [app_id="firefox" title="^About Firefox Nightly$"] {
  border normal 1
  floating enable
}

for_window [app_id="firefox" title=" - Sharing Indicator$"] {
  floating enable
  inhibit_idle open
}

for_window [app_id="pinentry-qt"] {
  move position center
  floating enable
}

for_window [app_id="pavucontrol"] {
  floating enable
}

for_window [app_id="wdisplays"] {
  floating enable
}
