font pango: Lekton Nerd Font 16px

default_border pixel 2
default_floating_border normal 0
for_window [title="^.*"] title_format " "

gaps inner 10
gaps horizontal 0
gaps vertical 0

client.focused            #7aa2f7 #414868 #c0caf5 #7dcfff #7aa2f7
client.focused_inactive   #7aa2f7 #414868 #c0caf5 #7dcfff #7aa2f7
client.unfocused          #414868 #24283b #a9b1d6 #7dcfff #414868
client.urgent             #e0af68 #e0af68 #1d202f #7dcfff #e0af68
