@import "colors.rasi"

prompt {
    enabled:                     true;
    padding:                     12px;
    border-radius:               100%;
    background-color:            @background-colour;
    text-color:                  @foreground-colour;
}


