@import "colors.rasi"
@import "entry-base.rasi"

textbox-password {
    padding:          0.15em 0.5em;
    expand:           false;
    border-radius:    30%;
    background-color: @urgent;
    text-color:       @background-colour;
}
