@import "css/catppuccin_macchiato.css";
@import "css/workspaces.css";
@import "css/battery.css";
@import "css/network.css";
@import "css/bluetooth.css";

* {
  font-family: Iosevka NFP Light;
  font-size: 1.02em;
  border-radius: 0.5em;
  border: none;
  background-color: transparent;
  min-height: 1.1em;
}

#window {
  background-color: @mantle;
  padding: 0.25em 1em;
}

window#waybar.empty #window {
  background: transparent;
}

window#waybar.hidden {
  opacity: 0.2;
}

#custom-powermenu {
  color: @base;
  background-color: @red;
  border-radius: 0.75em;
  padding: 0 1.05em;
}

#disk,
#memory,
#cpu,
#clock,
#battery,
#temperature,
#bluetooth,
#network,
#pulseaudio,
#idle_inhibitor,
#power-profiles-daemon,
#custom-temperature,
#custom-gpu {
  background-color: @mantle;
  padding: 0 0.5em 0 0.5em;
  margin: 0;
}

#pulseaudio {
  color: @cyan;
}

tooltip {
  border: @blue;
  border-width: 5px;
}

tooltip,
.modules-left,
.modules-right,
.modules-right {
  padding: 0 0.5em;
}

tooltip,
.modules-center,
.modules-left {
  background-color: @crust;
}

.modules-right {
  background-color: transparent;
}

.modules-left {
  margin-left: 0.5em;
}

.modules-center {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.module {
  margin: 0;
}

#tray {
  min-width: 3em;
}

#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
  color: @peach;
}
