@import "css/catppuccin_macchiato.css";

* {
  font-family: Iosevka NFP Light;
  font-size: 1.05em;
  border-radius: 0.5em;
  border: none;
  background: transparent;
}

#window {
  background: @base;
  padding: 0.25em 1em;
}

window#waybar.empty #window {
  background: transparent;
}

window#waybar.hidden {
  opacity: 0.2;
}

#custom-powermenu {
  color: @base;
  background: @red;
  border-radius: 0.75em;
  padding: 0 1.05em;
}

#workspaces {
  /* border: 0.05em solid @blue; */
  font-weight: bold;
  padding: 0.25em 0;
}

#workspaces button {
  transition: all 0.3s ease-in-out;
  padding: 0.25em 0.25em 0em 0.25em;
}

#workspaces button.focused,
#workspaces button.active {
  color: @mantle;
  background-color: @blue;
}

#workspaces button.urgent {
  background: @text;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: @base;
  background: @teal;
}

#disk,
#memory,
#cpu,
#custom-temperature,
#custom-gpu {
  padding: 0 0.5em;
}

#battery,
#battery.charging,
#network.linked,
.wifi {
  color: @green;
}

#battery.warning {
  color: @warning_color;
}

#battery.critical,
#temperate.critical {
  color: @error_color;
}

#battery.warning:not(.charging) {
  background: @red;
  color: @base;
}

#bluetooth {
  color: @sapphire;
}

#bluetooth.disabled,
#network.disabled {
  color: @red;
}

#network.disconnected {
  color: @yellow;
}

#pulseaudio {
  color: @cyan;
}

.warning {
  color: @warning_color;
}

.error {
  color: @error_color;
}

.normal {
  color: @text;
}

.green {
  color: @green;
}

.blue {
  color: @blue;
}

.cyan {
  color: @cyan;
}

.red {
  color: @red;
}

.white {
  color: @text;
}

tooltip {
  border: @borders;
}

tooltip,
.modules-left,
.modules-right {
  background: @base;
  padding: 0 0.5em;
}

.modules-right {
  margin-right: 0.5em;
}

.modules-left {
  margin-left: 0.5em;
}

#tray {
  min-width: 3em;
}

#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
  color: @warning_color;
}
