[terminal]
vt = 1

[default_session]
command = "tuigreet --cmd Hyprland --greeting 'Welcome to Hyprland' --user-menu --asterisks --remember --time --theme border=blue;text=white;prompt=magenta;time=yellow;action=green;button=blue;container=black;input=cyan"
user = "greeter"
