@import "colors.rasi"

inputbar {
    spacing:                     0.1em;
    margin:                      0em;
    padding:                     0em;
    border:                      0em;
    border-radius:               0em;
    border-color:                @border-colour;
    background-color:            transparent;
    text-color:                  @foreground-colour;
}
