@import "colors.rasi"

mainbox {
    spacing:                     0.5em;
    margin:                      0em;
    padding:                     0.5em;
    border:                      0em solid;
    border-radius:               0em;
    border-color:                @border-colour;
    background-color:            transparent;
    children:                    [ inputbar, message, listview ];
}
