.titlebar,
window {
  border-radius: 0;
  box-shadow: none;
}

decoration {
  box-shadow: none;
}

decoration::backdrop {
  box-shadow: none;
}

vte-terminal {
  padding: 10px 10px 10px 10px;
}

@import 'colors.css';