/**
 *
 * Author : Levi Lacoss (fishyfishfish55)
 * Github : @fishyfishfish55
 *
 * Colors
 **/

* {
    background:     #1A1B26FF;
    background-alt: #16161EE6;
    foreground:     #C0CAF5FF;
    selected:       #7AA2F7FF;
    selected-alt:   #292e42FF;
    active:         #414868FF;
    urgent:         #F7768EFF;
}

