@define-color color0 #24283b;
@define-color color1 #a96d1f;
@define-color color2 rgba(9, 85, 225, 255);
@define-color color3 #9ece6a;
@define-color color4 #7aa2f7;
@define-color color5 #24283b;
@define-color color6 #c0caf5;
@define-color color7 #1d202f;
@define-color color8 #7dcfff;
@define-color color9 #db4b4b;
@define-color color10 #f7768e;
@define-color color11 #e0af68;
@define-color color12 rgba(9, 85, 225, 0); 

* {
    border: none;
    border-radius: 0;
    font-family: Lekton Nerd Font Propo;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
  border: none;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
  transition-duration: 0s;
  background: transparent;
  color: @color6;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.empty {
  background-color: transparent;
}

window#waybar.solo {
  background-color: @color7;
}

tooltip {
  background-color: @color7;
  margin: 5px;
  margin-left: 6px;
  border-radius: 15px;
  border: 2px solid @color2;
}

#custom-leftend,
#custom-rightend {
  padding-left: 4px;
}

#custom-leftend {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

#custom-rightend {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

#window,
#workspaces {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: @color5;
}

#workspaces:first-child {
  margin-left: 10px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

#workspaces:last-child {
  margin-right: 5px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

#workspaces button {
  color: @color6;
  background: transparent;
  padding: 5px 10px;
  border: 3px solid @color12;
  min-width: 33px;
}

#workspaces button.focused {
  color: @color7;
  background-color: @color4;
  border-radius: 7px;
}

#workspaces button.urgent {
  background-color: @color1;
  color: @color6;
}

#workspaces button:hover {
  box-shadow: inherit;
  color: @color7;
  background-color: @color8;
  border-radius: 7px;
}

#clock, 
#battery, 
#pulseaudio, 
#network,
#cpu,
#tray,
#bluetooth,
#memory,
#backlight,
#custom-leftend,
#custom-rightend,
#custom-media,
#temperature {
  background-color: @color5;
  padding: 5px 5px;
  margin: 5px 0px;
}

#temperature.critical {
  color: @color10;
}

#cpu-format-icon {
  color: @color11;
}

#bluetooth {
  color: @color2;
}

#bluetooth.disabled {
  color: @color9;
}

#custom-media {
  color: @color3;
  border-radius: 7px;
}

#custom-spacer {
  padding-left: 10px;
}

#tray {
  border-radius: 7px;
  margin-top: 5px;
	margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
  padding: 5px 10px;
}

#battery {
  color: @color3;
  background-color: @color5
}

#battery.charging {
    color: @color3;
}

#battery.warning {
  color: @color1;
}

#battery.critical {
  color: @color10;
}

#battery.warning:not(.charging) {
  background-color: @color10;
  color: @color5;
}

#network.linked {
	color: @color3;
}

#network.disconnected {
  color: @color1;
}

#network.disabled {
	color: @color10;
}

#pulseaudio {
	color: @color11;
}

#custom-powermenu {
	color: @color5;
	background-color: @color9;
	border-radius: 7px;
	margin-right: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 0px;
	padding: 5px 10px;
	padding-right: 12px;
	font-size: 20px;
}

