@import "colors.css";
@import "battery/battery.css";
@import "bluetooth/bluetooth.css";
@import "clock/clock.css";
@import "network/network.css";
@import "pulseaudio/pulseaudio.css";
@import "temperature/temperature.css";
@import "custom/custom.css";
@import "sway/workspaces.css";

* {
    font-family: Lekton Nerd Font;
    font-size: 1.05em;
    color: @foreground-color;
}

window#waybar {
    background-color: transparent;
}

tooltip {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em; border: 0.1em solid @cyan-color;
    border-radius: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background-color: @black-color;
}

.modules-left,
.modules-center,
.modules-right {
    margin-top: 0.5em;
}

.modules-left {
    margin-left: 0.5em;
}

#tray {
    padding-left: 0.5em;
    padding-right: 0.5em;
    background-color: @background-color;
    color: @foreground-color;
    border-radius: 0.5em;
    min-width: 3em;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-aatention {
  -gtk-icon-effect: highlight;
  color: @orange-color;
}

#clock, 
#battery, 
#pulseaudio, 
#network,
#cpu,
#bluetooth,
#memory,
#backlight,
#temperature {
    padding-left: 0.5em;
    padding-right: 0.5em;
    background-color: @background-color;
}

#cpu-format-icon {
    color: @yellow-color;
}
