#custom-media {
    color: @green-color;
    border-radius: 0.5em;
}

#custom-spacer {
    padding-left: 0.5em;
}

#custom-leftend,
#custom-rightend {
    background-color: @background-color;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#custom-leftend {
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}

#custom-rightend {
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

#custom-powermenu {
	color: @background-color;
	background-color: @red-color;
	border-radius: 0.75em;
	margin-right: 0em;
	margin-left: 0em;
	padding-right: 1.25em;
	padding-left: 1.05em;
}
