
# HDL Designer
for_window [title="Log Window" instance="tk" class="Tk"]  {
    floating enable
    resize set width 574 height 722
}

for_window [title="Questa Lint" instance="questaLintDialog" class="TopLevel"] {
    floating enable
    resize set width 550 height 620
}

for_window [title="Questa Lint" instance="werrMsg1" class="TopLevel"] {
    floating enable
}

for_window [title=".* Properties.*" instance="hdldesigner"] {
    floating enable
}

for_window [title=".*Preferences" instance="cvPopupWindow_popup"] {
    floating enable
}

for_window [title="Find and Replace.*" instance="hdldesigner" class="TopLevelShell"] {
    floating enable
}

for_window [instance=".*D(ia)?lo?g_popup"] {
    floating enable
}

for_window [title="Main Settings" instance="hdldesigner" class="TopLevelShell"] {
    floating enable
    resize set width 723 height 623 
}

for_window [instance="hdldesigner" title=".* (Options|Settings)"] {
    floating enable
}

for_window [instance="bgerrorDialog" class="(ErrorDialog|TopLevel)"] {
    floating enable
}

for_window [ instance="cvPopupWindow_popup"] {
    floating enable
    max_render_time 100
    move position mouse
    move down 50px
    move right 50px
}
no_focus [ class="CvbApp" instance="cvPopupWindow_popup"]


for_window [title=".*Expression Builder" instance="hdldesigner" class="TopLevelShell"] {
    floating enable
}

for_window [title="Component Browser" instance="hdldesigner" class="TopLevelShell"] {
    floating enable
    reize set width 30ppt height 50ppt
}

for_window [class="IlogViews"] {
    floating enable
}
