for_window [app_id="firefox" title="^About Mozilla Firefox$"] {
  floating enable
  sticky enable
}

for_window [app_id="firefox" title=" - Sharing Indicator$"] {
	floating enable
	inhibit_idle open
}

for_window [app_id="firefox" title="Bitwarden .* Mozilla Firefox"] {
    floating enable
}


for_window [class="Firefox"] title_format "<b>Firefox</b>"
