exec {
    /usr/libexec/kf6/polkit-kde-authentication-agent-1
    wl-paste -t text --watch clipman store --no-persist
    mako
    wireplumber
    pipewire
    pipewire-pulse
    ybacklight -set 60
    blueman-applet
    swayidle -w \
        timeout 600 $lock \
        timeout 570 'swaymsg "output * dpms off"' \
        resume 'swaymsg "output * dpms on"' \
        before-sleep $lock
}

exec always {
    xsettingsd
    nwg-look -a
    wmname LG3D
}
