exec {
    {% if ansible_os_family == 'Archlinux' -%}
    /usr/lib
    {%- elif ansible_os_family == 'RedHat' -%}
    /usr/libexec/kf6
    {%- endif -%}/policykit-kde-authentication-agent-1

    mako
    kanshi

    wl-paste -t text --watch clipman store --no-persist

    nm-applet --indicator
    blueman-applet

    swayidle -w \
        timeout 600 $lock \
        timeout 570 'swaymsg "output * dpms off"' \
        resume 'swaymsg "output * dpms on"' \
        before-sleep $lock
}

exec always {
    xsettingsd
    nwg-look -a
    wmname LG3D
}
